<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Surname</th>
        <th>Name</th>
        <th>Address</th>
        <th class="hidden-xs">City</th>
        <th id='edit-delete'></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of addresses; let i = index">
        <td>{{ address.surname }}</td>
        <td>{{ address.name }}</td>
        <td>{{ address.address }}</td>
        <td class="hidden-xs">{{ address.city}}</td>
        <td>
          <i
            class="fa fa-pencil"
            (click)= "onEditAddress(addresses[i],i)"
            aria-hidden="true">
          </i>
          <i
            class="fa fa-times"
            (click)= "deleteAddress(addresses[i],i)"
            aria-hidden="true">
          </i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
