<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Surname</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of addresses">
        <td>{{ address.surname }}</td>
        <td>{{ address.name }}</td>
        <td>{{ address.address }}</td>
        <td>{{ address.city}}</td>
        <td>
          <button
            (click)= "deleteAddress(address)"
            class="btn btn-sm btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
