<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Surname</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of addresses; let i = index; trackBy:trackByIndex">
        <td *ngIf="!address.edit">{{ address.surname }}</td>
        <td *ngIf="!address.edit">{{ address.name }}</td>
        <td *ngIf="!address.edit">{{ address.address }}</td>
        <td *ngIf="!address.edit">{{ address.city}}</td>

        <td *ngIf="address.edit"><input [(ngModel)] = "addresses[i].surname" type="text" value="{{ address.surname }}"></td>
        <td *ngIf="address.edit"><input [(ngModel)] = "addresses[i].name" type="text" value="{{ address.name }}"></td>
        <td *ngIf="address.edit"><input [(ngModel)] = "addresses[i].address" type="text" value="{{ address.address }}"></td>
        <td *ngIf="address.edit"><input [(ngModel)] = "addresses[i].city" type="text" value="{{ address.city }}"></td>

        <td>
          <button
          *ngIf="!address.edit"
            (click)= "address.edit = !address.edit"
            class="btn btn-sm btn-warning">
            Edit
          </button>

        </td>

        <td>
          <button
            *ngIf="!address.edit"
            (click)= "deleteAddress(address)"
            class="btn btn-sm btn-danger">
            Delete
          </button>
          <button
            *ngIf="address.edit"
            (click)= "address.edit = !address.edit"
            class="btn btn-sm btn-success">
            Save
          </button>
        </td>
      </tr>


    </tbody>
  </table>
</div>
