<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">

      <h4 *ngIf="isInEditMode">Edit</h4>
      <h4 *ngIf="!isInEditMode">Add a new contact</h4>

    </div>

    <div class="panel-body">

      <form #newAddress="ngForm">
        <div class="form-group col-sm-6">
          <label for="surname" class="">Surname</label>
          <input
            type="text"
            class="form-control"
            placeholder="Surname"
            name="surname"
            ngModel
            required>
        </div>
        <div class="form-group col-sm-6">
          <label for="name" class="">Name</label>
          <input
            type="text"
            class="form-control name"
            placeholder="Name"
            name="name"
            ngModel
            required>
        </div>
        <div class="form-group col-sm-6">
          <label for="address" class="">Address</label>
          <input
            type="text"
            class="form-control"
            placeholder="Address"
            name="address"
            ngModel
            required>
        </div>
        <div class="form-group col-sm-6">
          <label for="city" class="">City</label>
          <input
            type="text"
            class="form-control"
            placeholder="City"
            name="city"
            ngModel
            required>
        </div>

        <div class="form-group col-sm-12">
          <button
            *ngIf="!isInEditMode"
            class="btn btn-primary listing-button"
            type="submit"
            (click)= "onAddressSubmit(newAddress.value)"
            [disabled]="!newAddress.form.valid">
              Add
          </button>
          <button
           *ngIf="isInEditMode"
            class="btn btn-primary listing-button"
            (click)= "onSaveAddress(newAddress.value)"
            [disabled]="!newAddress.form.valid">
              Save
          </button>
          <span class="alert alert-warning" *ngIf="!newAddress.form.valid">Please fill in all the fields</span>
        </div>
      </form>

    </div>
  </div>
</div>
